In [1]:
import uproot
import encode

In [2]:
fName='root://cmseos.fnal.gov//store/user/dnoonan/HGCAL_Concentrator/NewNtuples/ntuple_hgcalNtuples_vbf_hmm_200PU_1.root'
_tree = uproot.open(fName,xrootdsource=dict(chunkbytes=1024**3, limitbytes=1024**3))['hgcalTriggerNtuplizer/HGCalTriggerNtuple']

In [3]:
df = _tree.pandas.df( ['tc_subdet','tc_layer','tc_wafer','tc_cell','tc_data','tc_uncompressedCharge','tc_compressedCharge'],entrystart=0,entrystop=10)

In [4]:
df.head()

                tc_subdet  tc_layer  tc_wafer  tc_cell  tc_data  \
entry subentry
0     0                 5        45        17      121        2
      1                 5        46         8       47        3
      2                 5        52         8       70        4
      3                 5        37         8       89        2
      4                 5        43        26        7        2

                tc_uncompressedCharge  tc_compressedCharge
entry subentry
0     0                             2                    2
      1                             3                    3
      2                             4                    4
      3                             2                    2
      4                             2                    2

In [5]:
df[df.tc_compressedCharge==df.tc_compressedCharge.max()]

,,tc_subdet,tc_layer,tc_wafer,tc_cell,tc_data,tc_uncompressedCharge,tc_compressedCharge
entry,subentry,,,,,,,
2,119582,3,7,42,12,38912,38162,195

In [6]:
print('Uncompressed branch, binary & length')
raw = bin(44105)[2:]
print(raw)
print(len(raw))
print()
print('Data branch, binary')
print(bin(45056)[2:])
print()
print('Compressed branch, binary')
print(bin(198)[2:])
print()
print("With Jim's encoding")
print(encode.encode(44105,True,1,4,3,True))

Uncompressed branch, binary & length
1010110001001001
16

Data branch, binary
1011000000000000

Compressed branch, binary
11000110

With Jim's encoding
1100011

In [7]:
df['encodedCharge'] = df.tc_uncompressedCharge.apply(encode.encode,args=(True,1,4,3,True))

In [8]:
df.head()

                tc_subdet  tc_layer  tc_wafer  tc_cell  tc_data  \
entry subentry
0     0                 5        45        17      121        2
      1                 5        46         8       47        3
      2                 5        52         8       70        4
      3                 5        37         8       89        2
      4                 5        43        26        7        2

                tc_uncompressedCharge  tc_compressedCharge encodedCharge
entry subentry
0     0                             2                    2       0000001
      1                             3                    3       0000010
      2                             4                    4       0000010
      3                             2                    2       0000001
      4                             2                    2       0000001